@font-face{
    font-family: 'evermore';
    src: url(evermorefont.ttf);
}
body{
    background-color: #7697A0;
    font-family: 'evermore';
    width: 700px;
    margin: auto;
    padding: 25px;
    color: #1d5161;
    /* border-radius: 10px; */
}
.error-notice{
    background-color: #7697A0;
}
.main{
    background-color: #4a707a;
    text-align: center;
    border-radius: 20px;
}
.btn{
    padding-bottom: 40px;
    font-size: large;
    font-family: 'evermore';
    width: 100px;
    height: 50px;
    background: #7697A0;
    border-radius: 10px;
    color: #2f5a66;
}
.woah{
    padding: 15px;
    /* background-color: #94b0b7; */
}
.wews{
    padding: 15px;
}
.form{
    padding-top: 50px;
}
.hr{
    width: 550px;
}
.title{
    font-size: 1.2em;
}
.ajyl{
    background-color: #7697A0;
    padding: 10px;
}
.button{
    padding-bottom: 20px;
    /* margin-bottom: 100px; */
}